Match all
    Ciphers chacha20-poly1305@openssh.com
    HostKeyAlgorithms ssh-ed25519
    IdentityFile none
    KexAlgorithms sntrup761x25519-sha512@openssh.com,curve25519-sha256
    MACs umac-128-etm@openssh.com
